
[Unit]
Description= QT Hellow World Sample Program
After=multi-user.target

[Service]
ExecStart=/bin/bash -c /usr/bin/hellow_world

[Install]
WantedBy=multi-user.target






